
body{
    margin: 0;
}

body *{
    box-sizing: border-box;
}

header{
    padding: 1% 4%;
    height: 100px;
    background-color: black;
    color: white;
}

nav *{
    float: left;
    width: 20%;
    display: block;
}

nav > ul{
    width: 60%;
}

main > section{
    padding: 5%;
    float: left;
    width: 50%;
}

main + section > section {
    color: pink;
    float: left;
    width: 33.3333%;
    padding: 2%;
}

@media screen and (max-width: 700px){
    header{
        background-color: pink;
        color: black;
    }

    main > section{
        width: 100%;
    }

    main + section > section{
        width: 100%;
    }
}